@import "./flex";
@import "./variables";

.header {
  @include flex(row, center);
  background-color: white;
  align-items: center;
  font-weight: $bold;
  font-size: $lg;
  color: orange;
  @include mobile {
    display: none !important;
  }
  img {
    max-width: 50px;
  }
}

.navbar.active{
  color: $primary-color;
  transition: all 500ms ease-in-out;
  background-color: white;
  a{
    color: $primary-color;
  }
}

.navbar {
  @include flex(row, space-between);
  align-items: center;
  flex-grow: 1;
  // background-color: $primary-color;
  background-color: transparent;

  color: whitesmoke;
  padding: 0.9rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  // width: 100%;
  transition: all 500ms ease-in-out;

  top: 0;
  a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 500ms ease-in-out;

    &:hover {
      color: orange;
      transition: all 500ms ease-in-out;
    }
  }
  @include mobile {
    @include flex(row, space-around);
    align-items: center;
    padding: 1rem;
  }
  &__logo {
    @include flex(row, center);
    align-items: center;
    font-weight: $semi-bold;
    font-size: $md;
    padding-left: 1rem;
    @include mobile {
      display: none !important;
    }
    img {
      max-width: 50px;
      max-height: 50px;
      border-radius: 100px;
      // padding-right: .5rem;
    }
  }
  input {
    padding: 0.7rem;
    width: 20rem;
    border: 0;
    background-color: transparent;
    color: white;
    // opacity: 10%;
    &:active &:focus {
      border: 0;
      outline: 0;
    }
    border-radius: 100px;
    @include mobile {
      display: none !important;
    }
  }
  &__right {
    @include flex(row, center);
  }
  &__item {
    padding: 0 1rem 0 1rem;
    font-weight: $semi-bold;
  }
}
