@import "./flex";
.services {
  padding: 1rem;
  max-width: 75%;
  margin: auto;
  display: block;

  &__section {
    @include flex(row, center);
    height: 100vh -webkit-fill-available ;
  }
  &__container {
    @include flex(row, space-between);
    @include mobile {
      flex-wrap: wrap;
    }
  }
  @include mobile {
    max-width: 100%;
  }
  &__items {
    border: solid 1px #e0e0e0;
    margin: 0.3rem;
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem;
    p {
      color: gray;
    }
    h2 {
      color: $secondary-color;
      text-align: center;
    }
  }
  h1 {
    color: $primary-color;
    font-size: $lg;
    text-align: center;
  }
}
