<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content=" Don't struggle with your undergraduate, masters and PhD proposals, projects or thesis,
    Submit your assignements for high quality results "
    />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="canonical" href="https://goresearch.co.ke" />
    <link rel="icon" type="img/jpeg" href="public/img/unable.jpeg" />
    <title>GoReSeARCH</title>
  </head>
  <body>
    <!-- <div class="header">
      <div>
        <img src="img/unable.jpeg" alt="goreseARCH logo" />
      </div>
      Welcome to goreseARCH +254 799 980 846
    </div> -->
    <nav class="navbar" id="navbar">
      <div class="navbar__logo">
        <a href="index.html">HOME</a>
      </div>
      <form action="">
        <input type="text" placeholder="Search..." />
      </form>
      <div class="navbar__right">
        <div class="navbar__item">Upload Assignment</div>
        <!-- <div class="navbar__item">Services&Products</div> -->
        <!-- <div class="navbar__item">Catalogue</div> -->
        <div class="navbar__item">
          <a href="#">Courses</a>
        </div>
        <div class="navbar__item">Blog</div>
      </div>
    </nav>
    <main>
      <section class="banner">
        <div class="overlay">
          <div style="gor">
            <h1>GOresea<span style="color: orange">ARCH</span></h1>
            <p class="desc" style="text-align: center;">
              Okay, lets do this!! &#128512;
            </p>
            <div style="description">
              <p>
                Don't struggle with your undergraduate, masters and PhD
                proposals, projects or thesis. Click the button below.
              </p>
            </div>
            <div class="btn">
              <button>Click me .!!</button>
            </div>

          </div>

        </div>
      </section>
      <section class="about__section">
        <div class="about">
          <p>
            Don't struggle with your undergraduate, masters and PhD proposals,
            projects or thesis We are here to help. With our highly experienced
            academic writers in various fields of study, we will be able to do
            any work within the shortest time possible. Let our highly skilled
            writers take care of your assigned essays, case studies, term
            papers, dissertations and other types of papers while you can focus
            on more important things. Our writing service covers any topic, any
            style, on any deadline, on your schedule. You can select the level
            (high school, college/university or professional) and our proficient
            writers will be more than happy to help you with your writing needs.
            We understand the Time Factor and we have simplified the process so
            that you can get your projects (Certificate, Diploma, Post Graduate
            Diploma, Higher National Diploma, Bachelors Degree, Masters & Ph.D.)
            ready within few minutes! Your final year projects can be ready in
            three (3) SIMPLE STEPS.
          </p>

          <button class="btn">Learn more</button>
        </div>
      </section>

      <section class="work__section">
        <div class="work">
          <h1>How it works</h1>
          <div class="work__main">
            <div class="work__item">
              <img src="/public/img/undraw_People_search_re_5rre.svg" alt="search">
              <h2>Search...</h2>
              <p>
                Simply browse through our Research Project Catalog and/or
                Business Plan Catalog request for free chapter 1, table of
                content or abstract. Satisfied with it? If yes, place an order.
                If no, contact us for more projects samples from our database.
              </p>
            </div>
            <div class="work__item">
              <img src="/public/img/undraw_Mobile_payments_re_7udl.svg" alt="pay">
              <h2>Make payment</h2>
              <p>
                Place an order through WhatsApp: +254 799 980 846 to request for
                complete research material, kindly provide all necessary contact
                details to enable our team reach out to you if need be.
              </p>
            </div>
            <div class="work__item">
              <img src="/public/img/undraw_real_time_collaboration_c62i.svg" alt="waiting...">
              <h2>Receive</h2>
              <p>
                Once payment is confirmed, project research material(s) will be
                sent within 5-10 minutes, if delayed (due to any problem), at
                most 30 minutes.
              </p>
            </div>
          </div>
        </div>

      </section>

      <section class="contact__section">
        <div class="contact">
          <h1>Contact us</h1>
          <div class="contact__container">
            <form action="" id="form" class="contact__form">
              <div class="contact__item">
                <label for="email">Email Address</label>
                <input type="text" placeholder="Enter email" />
              </div>
              <div class="contact__item">
                <label for="message">Enter message</label>
                <textarea name="message" id="" cols="50" rows="10"></textarea>
              </div>

              <button type="submit">SEND</button>
            </form>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__main">
          <div class="footer_tems">
            <h3>Social Media</h3>
            Facebook
            <br />
            Twitter
            <br />
            LinkedIn
            <br />
            Instagram
          </div>
          <div class="footer_items">
            <h3>Sitemap</h3>
            Home
            <br />
            About us
            <br />
            Products
            <br />
            Services
            <br />
            Create account
            <br />
            Make payment
            <br />
            Blog
          </div>
          <div class="footer__items">
            <h3>Our products & services</h3>
            Computer Science
            <br />
            Electrical Engineering
            <br />
            Agri. Business
            <br />
            Financial Management
          </div>
          <div class="footer_items">
            <h3>Contact us</h3>
          </div>
        </div>

        <div class="footer__bottom">
          &copy; Copyright 2020-2021 goresearch.co.ke
        </div>
      </footer>
    </main>
  </body>
  <script src="public/js/index.js"></script>
</html>