<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content=" Don't struggle with your undergraduate, masters and PhD proposals, projects or thesis,
    Submit your assignements for high quality results "
    />
    <link rel="stylesheet" href="public/css/styles.css" />
    <link rel="canonical" href="https://goresearch.co.ke" />
    <link rel="icon" type="img/jpeg" href="public/img/unable.jpeg" />
    <title>GoReSeARCH</title>
  </head>
  <body>
    <!-- <div class="header">
      <div>
        <img src="img/unable.jpeg" alt="goreseARCH logo" />
      </div>
      Welcome to goreseARCH +254 799 980 846
    </div> -->
    <nav class="navbar" id="navbar">
      <div class="navbar__logo">
        <a href="index.html">HOME</a>
      </div>
      <form action="">
        <input type="text" placeholder="Search..." />
      </form>
      <div class="navbar__right">
        <div class="navbar__item">About us</div>
        <!-- <div class="navbar__item">Services&Products</div> -->
        <!-- <div class="navbar__item">Catalogue</div> -->
        <div class="navbar__item">
          <a href="products.html">Products</a>
        </div>
        <div class="navbar__item">Blog</div>
        <div class="navbar__item">
          <a href="login.html">Login</a>
        </div>
      </div>
    </nav>
    <main>
      <section class="banner">
        <div class="overlay">
          <div style="width: 50%;">
            <h1>GOresea<span style="color: orange">ARCH</span></h1>
            <p>
              Okay, lets do this!! &#128512;

            </p>
            <button>Learn more</button>
          </div>

        </div>
      </section>
      <section class="about__section">
        <div class="about">
          <h1>Ok, Let's do this</h1>
          <p>
            We are a growing freelance community of software developers that
            provide software solutions for companies and individuals. Helping
            companies and individuals scale faster. Developing B2B and B2B SW
          </p>
          <p>Remote solutions and in-house solutions.</p>
          <button class="btn">Learn more</button>
        </div>
      </section>

      <section class="others__sections">
        <div class="others">
          <h2>Other Services</h2>
          <p>
            High quality assignments for undergraduate, postgraduate and PhD
            students. Reports and research papers available at affordable
            prices.
          </p>
          <p>
            Small projects available, school, hotel and hospital management
            systems, e-commerce, portals mobile and web applications available
            at affordable prices.
          </p>
          <button>
            View catalogue
          </button>
          <!-- <a href="#">View catalogue</a> -->
        </div>
      </section>

      <section class="contact__section">
        <div class="contact">
          <h1>Contact us</h1>
          <div class="contact__container">
            <form action="" id="form" class="contact__form">
              <div class="contact__item">
                <label for="email">Email Address</label>
                <input type="text" placeholder="Enter email" />
              </div>
              <div class="contact__item">
                <label for="message">Enter message</label>
                <textarea name="message" id="" cols="50" rows="10"></textarea>
              </div>

              <button type="submit">SEND</button>
            </form>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__main">
          <div class="footer_tems">
            <h3>Social Media</h3>
            Facebook
            <br />
            Twitter
            <br />
            LinkedIn
            <br />
            Instagram
          </div>
          <div class="footer_items">
            <h3>Sitemap</h3>
            Home
            <br />
            About us
            <br />
            Products
            <br />
            Services
            <br />
            Create account
            <br />
            Make payment
            <br />
            Blog
          </div>
          <div class="footer__items">
            <h3>Our products & services</h3>
            Computer Science
            <br />
            Electrical Engineering
            <br />
            Agri. Business
            <br />
            Financial Management
          </div>
          <div class="footer_items">
            <h3>Contact us</h3>
          </div>
        </div>

        <div class="footer__bottom">
          &copy; Copyright 2020-2021 goresearch.co.ke
        </div>
      </footer>
    </main>
  </body>
  <script src="js/index.js"></script>
</html>